.item {
    background-color: var(--color-accent-super-light);
}

.status {
    &-icon {
        fill: #333;
    }

    &-text {
        color: #333;
    }

    &-spinner {
        stroke: #333;
    }
}

.review {
    width: 100%;
}

.templates {
    align-items: center;
}

.btn {
    width: 100%;
    text-wrap: nowrap;
    justify-content: start;
    &-text {
        color: #333;
    }

    &-icon {
        fill: #333;
    }
}

.area {
    width: 100%;

    &>textarea {
        display: flex;
        flex-grow: 1;
    }
}