$padding-tb: 8px;
$chat-list-width: 316px;

.chat {
  gap: var(--space-default);
  grid-template-columns: $chat-list-width 1fr;
  grid-template-rows: 70px calc(100vh - 4 * $padding-tb - 70px);

  & .dialog-list {
    grid-row: 1 / 3;
    grid-column: 1;
  }

  & .messenger-header {
    grid-row: 1;
    grid-column: 2;
  }

  & .messenger {
    grid-row: 2;
    grid-column: 2;
  }

  &--unselected-messanger-text {
    margin: auto
  }
}
