.card {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-accent-super-light);
    justify-content: space-between;
    cursor: pointer;

    & .wrapper {
        min-width: 0;
    }

    & .avatar {
        flex-grow: 0;
        flex-shrink: 0;
    }

    & .text {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        &.name {
            color: var(--color-text-default);
        }

        & .title {
            color: var(--color-text-light);
        }
    }

    & .state {
        text-wrap: nowrap;
        margin: auto 0;

        &.notPass {
            color: var(--color-text-light);
        }

        &.pass {
            color: var(--color-success);
        }

        &.passDelay {
            color: var(--color-fail);
        }
    }


    & .btn {
        & .icon {
            fill: var(--color-accent-default);
        }
    }
}