.card {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-accent-super-light);
    justify-content: space-between;

    & .wrapper {
        min-width: 0;
    }

    & .avatar {
        flex-grow: 0;
        flex-shrink: 0;
    }

    & .text {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        &.name {
            color: black;
        }

        & .title {
            color: gray
        }
    }

    & .state {
        text-wrap: nowrap;
        margin: auto 0;

        &.notPass {
            color: gray;
        }

        &.pass {
            color: green;
        }

        &.passDelay {
            color: red;
        }
    }


    & .btn {
        & .icon {
            fill: orange;
        }
    }
}