@use '../../styles/mixins' as mixins;

.calendar-events-list {
  overflow-y: scroll;
  word-break: break-all;
  gap: var(--space-big);
  padding-right: 16px;
  
  @include mixins.default-scrollbar-style;
}
