.widget {
    grid-template-columns: 1fr 1fr;
}

.content {
    overflow: hidden;
    max-height: inherit;
    position: relative;
}

.nav {
    align-items: center;

    & .add {
        background-color: rgba(0, 157, 0, 0.42);

        & .icon {
            fill: white;
        }

        & .text {
            color: white;
        }
    }
}