.message-select-dialog-item {
  width: 256px;
  justify-content: flex-start;
  flex-wrap: wrap;

  &:hover {
    background-color: var(--color-bg-dark-light);
  }
  &--text {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    flex-grow: 1;

    &:before {
      border: 0.5px solid gray;
      display: block;
      margin-top: 16px;
      content: '';
    }

    &--title {
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
      white-space: nowrap;
    }
    &--message {
      grid-column: 1 / 3;
      grid-row: 2;
      overflow: hidden;
      white-space: nowrap;
    }
    &--date {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
