.message-select-dialog-item {
  justify-content: flex-start;

  &:hover {
    background-color: var(--color-bg-dark-light);
  }

  &--text {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    flex-grow: 1;

    //&:after {
    //  border: 0.5px solid gray;
    //  margin-top: 16px;
    //  content: '';
    //  width: 100%;
    //}


    &--title {
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
      white-space: nowrap;
    }
    &--message {
      grid-column: 1 / 3;
      grid-row: 2;
      overflow: hidden;
      white-space: nowrap;
    }
    &--date {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
