.li {
    display: flex;
    flex: 1;
}

.item {
    background-color: var(--color-accent-super-light);
    position: relative;
    flex-grow: 1;
}

.btnRemoveIcon {
    fill: gray;
}

.btnRemove {
    position: absolute;
    top: 15px;
    right: 15px;
}