@use '../functions' as *;
// TODO
$padding-tb: 16px;
$padding-rl: 8px;
$scrollbar-widht: 8px;

.textarea {
  width: 100%;

  padding: $padding-tb $padding-rl;
  resize: none;

  line-height: 1;

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: $scrollbar-widht;
    height: $scrollbar-widht;
  }

  &::-webkit-scrollbar-button {
    height: 16px;
    width: 16px;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 4px;
  }

  &--border {
    border-radius: getVar(border, radius, large);
    border: 1px solid getVar(input, outline, color);
  }
}