.widget {
    width: 100%;
}

.content {
    width: 100%;
    &-title {
        width: 25%;
    }

    &-item {
        width: 75%;
    }
}

.intime {
    color: green;
}

.outtime {
    color: red;
}


.author {
    align-items: start;
    
    &-item {
        padding: 0;
        background: none;
    }
}

.status {
    &-spinner {
        stroke: #333;
    }

    &-icon {
        fill: #333;
    }

    &-text {
        color: #333;
    }
}