.widget {
    background-color: var(--color-accent-super-light);
    min-width: 240px;
}

.content {
    position: relative;
    padding: 8px 2px 8px 16px;
    align-items: center;
    min-width: 180px;
    overflow: hidden;


    & .btn {
        padding: 12px;
        height: 100%;
    }

    & .icon {
        fill: #333;
    }

    & .nav {
        align-items: center;
        gap: 0;
    }

    & .token {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }
}

.guide {
    width: 80vw;

    & .container {
        align-items: center;
        flex-wrap: wrap;
    }

    & .text {
        text-wrap: wrap;
    }

    & .step {
        background-color: var(--color-accent-super-light);

    }
}

.hint {
    position: absolute;
    top: -0.5%;
    left: -0.5%;
    height: 101%;
    width: 101%;
    border-radius: inherit;
}

.tutorBtn {
    position: relative;
    &-icon {
        fill: white;
    }
    &-text {
        color: white;
    }
}