.login-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-default);
  align-items: center;
}


.submit {
  width: 100%;

  & .spinner {
    stroke: var(--color-text-white);
  }

  & .text {
    color: var(--color-text-white);
  }
}