.card {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-accent-super-light);
    justify-content: space-between;
    cursor: pointer;

    & .wrapper {
        min-width: 0;
    }

    & .text {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        &.title {
            color: var(--color-text-default);
        }

        &.description {
            color: var(--color-text-light);
        }
    }

    & .state {
        text-wrap: nowrap;
        margin: auto 0;

        &.notPass {
            color: var(--color-fail);
        }

        &.pass {
            color: var(--color-success);
        }
    }


    & .btn {
        & .icon {
            fill: var(--color-accent-default);;
        }
    }
}