.widget {
    width: 80vw;
}

.submit {
    &-text {
        color: white;
    }

    &-icon {
        fill: white;
    }

    & .spinner{
        stroke: white;
    }
}

.content {
    gap: 16px;
    margin: 16px 0 32px 0;
}

.tasks {
    max-height: 500px;
    min-height: max-content;
}
