@use "../../ui-kit/functions" as *;

.message-item {
  align-items: flex-end;
  margin: 8px 16px;

  &.mine {
    flex-direction: row-reverse;
  }

  &-author {
    &__avatar {

    }
  }

  &-content {
    align-items: flex-end;

    background-color: var(--color-bg-dark-light);
    padding: 16px 16px;
    border-radius: 8px;

    &.mine {
      background-color: var(--color-accent-light);
    }


    &__text {

    }

    &__time {

    }
  }


}

