.active {
    & .link {
        background-color: var(--color-accent-super-light);
    }
}

.link {
    flex-direction: column;
    align-items: flex-start;
    &-text {
        color: var(--color-text-default);
    }
}

.list {
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0);
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        background-color: lightgray;
        border-radius: 4px;
    }

}