.card {
    align-items: center;

    & .area {
        padding: 4px;
        width: 100%;
        max-height: 200px;
    }

    .avatar {
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: auto;
    }

}

.form {
    all: unset;
    display: flex;
    position: relative;
    width: 100%;
    & > div {
        width: 100%;
    }
}

.spinner {
    fill: gray;
    stroke: gray;
}

.btnIconDisabled {
    fill: lightgray;
}
