.chat-attachment-list {
  grid-template-rows: min-content;
  grid-template-columns: min-content min-content auto min-content;
  align-items: center;
  justify-items: end;

  &--file-remove {
    grid-row: 1;
    grid-column: 3;
    fill: var(--color-text-light);

    &:hover {
      fill: var(--color-text-default);
    }
  }

  &--file {
    grid-row: 1;
    grid-column: 1;
    &--icon {
      height: 32px;
      fill: var(--color-hover);
      stroke: var(--color-text-default);
    }
  }

  &--file-text {
    grid-row: 1;
    grid-column: 2;
    white-space: nowrap;
    margin-left: 8px;
  }
}
