.messenger {
  flex-grow: 1;
}

.message-container {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  flex-grow: 1;
}

.message-container::-webkit-scrollbar {
  width: 4px;
}

.message-container::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-dark-light);
  border-radius: var(--border-radius-default);
}
