.chat {
  height: calc(100vh - 2 * 16px);
  margin: 16px 32px;
}

.message-container {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  flex-grow: 1;
}

.message-container::-webkit-scrollbar {
  width: 4px;
}

.message-container::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: var(--inner-border-radius)
}
