.page {
  width: 100%;
  height: 100%;
  gap: 32px;
}

.list {
  flex-wrap: wrap;
  height: fit-content;
}

.item {
  width: 450px;
}

.btnIcon {
  fill: white;
}

.header {
  justify-content: space-between;
}

.create-form {
  min-width: 50vw;
}

.btnText {
  color: white;
}