.page {
  width: 100%;
  height: 100%;
  gap: 32px;
}


.listContainer {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  grid-auto-rows: 1fr;
  height: max-content;
}

.btnIcon {
  fill: white;
}

.header {
  justify-content: space-between;
}

.create-form {
  min-width: 50vw;
}

.btnText {
  color: white;
}