.sidebar {
    height: 100%;
    width: fit-content;
    justify-content: space-between;
    overflow-y: scroll;

    background-color: white;
    border-radius: 8px;

    &::-webkit-scrollbar {
        display: none;
    }


    .group {
        padding: 16px 8px;
        align-items: center;
        gap: 24px;
    }
}
