.viewer {
  align-items: center;
  justify-content: stretch;
  // background-color: red;

  & .image {
    width: 100%;
  }

  & .nav-btn {
    width: min-content;
    &:hover{
      // background: none;
    }
  }
}