.viewer {
  align-items: center;

  & .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    & img {
      object-fit: contain;
    }
  }

  & .nav-btn {
    width: min-content;

    &:hover {
      // background: none;
    }
  }
}