.page {
    width: 100%;
    height: 100%;
    gap: 32px;
}

.listContainer {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: max-content;
    width: 100%;
}

.btnIcon {
    fill: white;
}

.btnText {
    color: white;
}

.header {
    justify-content: space-between;
}

.create-form {
    min-width: 50vw;
}
