.page {
    width: 100%;
    height: 100%;
    gap: 32px;
}

.list {
display: flex;
flex-grow: 1;
}

.listContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: max-content;
    width: 100%;
    height: max-content;
}

.btnIcon {
    fill: white;
}

.btnText {
    color: white;
}

.header {
    justify-content: space-between;
}

.create-form {
    min-width: 50vw;
}
