.page {
    width: 100%;
    height: 100%;
    gap: 32px;
}

.list {
    flex-wrap: wrap;
    height: fit-content;
}

.item {
    width: 400px;
}

.btnIcon {
    fill: white;
}

.btnText {
    color: white;
}

.header {
    justify-content: space-between;
}

.create-form {
    min-width: 50vw;
}
