@use '../functions' as *;

.base-container {
  width: 100%;
}

.container {
  background-color: getVar(input, bg, default);
  width: 100%;
  font-family: getVar(font, type, default);

  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: getVar(input, bg, hover);
    border-color: getVar(input, outline, color, hover);
  }

  &:disabled {
    background-color: getVar(input, bg, disabled);
    outline-color: getVar(input, outline, color, disabled);
  }

  &:disabled .title {
    color: getVar(input, text, color, disabled);
  }

  &:disabled .error-hint {
    display: none;
  }

  &:has(.input:focus-visible) {
    background-color: getVar(input, bg, focus);
    outline-color: getVar(input, outline, color, focus);
  }

  &--error {
    background-color: getVar(input, bg, error);
    border-color: getVar(input, outline, color, error);
  }

  &--success {
    background-color: getVar(input, bg, success);
    border-color: getVar(input, outline, color, success);
  }

  &--border-thin {
    $border-width: getVar(border, width, thin);
    border: $border-width solid getVar(input, outline, color);
    border-radius: getVar(border, radius, large);
  }

  &--border-default {
    $border-width: getVar(border, width, default);
    border: $border-width solid getVar(input, outline, color);
    border-radius: getVar(border, radius, large);
  }

  &--border-thick {
    $border-width: getVar(border, width, bold);
    border: $border-width solid getVar(input, outline, color);
    border-radius: getVar(border, radius, large);
  }
}

.input {
  width: 100%;
}

.error-hint {
  color: red;
}

.large {
  & .container {
    //border-radius: getVar(border, radius, large);
    padding: 0 getVar(padding, l, r, large);
  }

  & .title {
    font-size: getVar(input, title, font-size, large);
  }

  & .error-hint {
    font-size: getVar(input, error-hint, font-size, large);
  }

  & .input {
    padding: getVar(padding, t, b, large) 0;
    font-size: getVar(input, font-size, large);
  }
}

.medium {
  & .container {
    //border-radius: getVar(border, radius, medium);
    padding: 0 getVar(padding, l, r, medium);
  }

  & .title {
    font-size: getVar(input, title, font-size, medium);
  }

  & .error-hint {
    font-size: getVar(input, error-hint, font-size, medium);
  }

  & .input {
    padding: getVar(padding, t, b, medium) 0;
    font-size: getVar(input, font-size, medium);
  }
}

.small {

  & .container {
    //border-radius: getVar(border, radius, small);
    padding: getVar(padding, t, b, small) getVar(padding, l, r, medium);
  }

  & .title {
    font-size: getVar(input, title, font-size, small);
  }

  & .error-hint {
    font-size: getVar(input, error-hint, font-size, small);
  }

  & .input {
    font-size: getVar(input, font-size, small);
    padding: getVar(padding, t, b, small) 0;
  }
}

