.status {
    &-text {
        color: #333;
    }

    &-icon {
        fill: #333;
    }

    &-spinner {
        stroke: #333;
    }
}

.widget {
    width: 80vw;
}

.group {
    width: 100%;

    & .title {
        max-width: 25%;

        &-text {
            text-wrap: stable;
        }
    }

    & .content {
        flex-grow: 1;
    }
}

.author {
    justify-content: flex-start;
    padding: 8px 16px !important;
}

.item {
    background-color: var(--color-accent-super-light);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn {
    user-select: none;

    &-icon {
        fill: var(--color-accent-default);
    }

    &-text {
        color: var(--color-accent-default);
    }
}

.hidden {
    padding: 8px 16px;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &-icon {
        fill: #333;
    }
}

@media screen and (max-width: 1080px) {
    // .widget {
    //     &-content>div {
    //         border-bottom: 2px solid gray;
    //     }
    // }

    .group {
        flex-direction: column !important;
        padding: 8px 0;

        .title {
            max-width: 100%;
        }
    }
    // .author {
    //     align-self: center;
    // }

    .btn {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}