.card {
  justify-content: space-between;
  min-width: 0;
  background-color: var(--color-accent-super-light);
  cursor: pointer;

  & .wrapper {
    min-width: 0;
    overflow: hidden;
  }

  & .text {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }
}
