.card {
  grid-template-columns: auto auto max-content;
  background-color: var(--color-accent-super-light);
}

.status {
  grid-column: 1;

  &-icon {
    fill: #333;
  }

  &-text {
    color: #333;
  }

  &-spinner {
    color: #333;
  }
}

.content {
  grid-column: 1;

  &-wrapper {
    min-width: 100px;
    overflow: hidden;
  }
}

.text {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.invite {
  grid-column: 2;
  overflow: hidden;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
  position: relative;

  &-wrapper {
    flex-grow: 1;
    overflow: hidden;
    min-width: 50px;
    justify-content: center;
  }

  &-token {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }


  &-btn {
    padding: 8px !important;

    &-icon {
      fill: #333;
    }
  }


  &-hint {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.btn {
  grid-column: 3;
  &-icon {
    fill: var(--color-accent-default);
  }
}
